*body{
    margin: 0;
    padding: 0;
}



:root{

     font-family: "Alice", serif;
     font-style: normal;
     
}

body{

    background-image: url(assets/bg-image.jpg);
    background-size: cover;
    padding: 24px 24px 10px 24px;
 
    
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color:#F0E8C2;
    border-radius: 24px;
    margin: 24px auto;

}

p{
    font-size: 1em;
}




#about p + p{

    margin-top: 4px;
   

}


img{
    box-sizing: border-box;
    border-radius: 32px;
    width: 752px;
    height: 400px;
   
    
    
}

main{
    margin-top: 2px;
   

}
    Section + Section {
    margin-top: 24px;
    }


h1{
    line-height: 140%;
    font-size: 40px;
   
    
}

h2{
  line-height: 150%;
  font-size: 40px;

}
h1,h2{

    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

footer{

    font-size: 24px;
    color: darkred;
    text-align: center;
    
}

footer img{
    vertical-align:top;
    width: 20px;
    height: 20px;
    margin-bottom: 24px;
}
